<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%gray(%date{MM-dd HH:mm:ss.SSS}) %highlight(%-5level) [%thread] %yellow(%-15C{0}) %msg%n%throwable</pattern>-->
            <pattern>%gray(%date{MM-dd HH:mm:ss.SSS}) %highlight(%-5level) %yellow(%-18C{0}) %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="INFO" />
    <logger name="org.asynchttpclient.netty" level="INFO" />
    <logger name="com.codeborne.selenide.impl" level="INFO" />

    <root level="TRACE">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>